*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .container{
    width: 100%;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    /* background: linear-gradient(70deg, #262b32, rgba(78, 8, 95, 0.926)); */
    background:url(https://c4.wallpaperflare.com/wallpaper/707/220/899/gradient-blue-pink-abstract-art-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    }
    .todo-app{
    width: 100%;
    max-width: 540px;
    background: rgb(3, 25, 23);
    opacity: 1;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    }
    .todo-app h2{
    color: #bdd2f4;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    .todo-app h2 img{
    width: 30px;
    margin-left: 10px;
    }
    .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeefe;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    }
    input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    }
    button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(224, 104, 7);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    }
    ul li{
    list-style: none;
    font-size: 17px;
    color: #fff;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    }
    ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(https://static-00.iconduck.com/assets.00/radio-button-unchecked-icon-512x512-k1fkebfk.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    }
    ul li.checked{
    color: white;
    text-decoration: line-through;
    }

    ul li.checked::before{
    background-image: url(https://cdn.pixabay.com/photo/2012/04/02/16/11/check-24849_1280.png);
    }
    ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    }
    ul li span:hover{ 
    background: rgb(224, 104, 7);
    }
    